<html>
  <head>
    <title>New book</title>

    <link rel="stylesheet" href="/public/css/style.css">
  </head>

  <body>
    <main class="wrapper center">  
      <h1>Add a new book</h1>

      <form action="/book" method="post">
        <input type="hidden" id="id" name="id">

        <div>
          <label for="title">Title</label>
          <input type="text" id="title" name="title">
        </div>
        
        <div>
          <label for="price">Price</label>
          <input type="number" id="price" name="price" step=".01">
        </div>

        <div>
          <label for="description">Description</label>
          <textarea id="description" name="description" cols="20" rows="10"></textarea>
        </div>

        <input class="button uppercase" type="submit" value="Save">
      </form>
    </main>

    <script src="/public/js/book-controller.js"></script>
  </body>
</html>