<html>
  <head>
    <title>See our books</title>

    <link rel="stylesheet" href="/public/css/style.css">
  </head>

  <body>
    <main class="wrapper center">
      <h1>Books</h1>

      <table id="books">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th align="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <for (book in data.books)>
          
            <tr id="book-${book.id}">
              <td>${book.title}</td>
              <td>${book.price}</td>
              <td align="right">
                <a href="/book/form/${book.id}" class="button m-0 mr-1 uppercase">
                  Edit
                </a>

                <button type="button" class="button m-0 uppercase" data-id="${book.id}" data-action="remove">
                  Remove
                </button>
              </td>
            </tr>
            
          </for>
        </tbody>
      </table>

      <a href="/book/form" class="button mr-1 uppercase">
        New
      </a>
    </main>

    <script type="module" src="/public/js/app.js"></script>
  </body>
</html>